body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Navbar styles */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}
.logo {
  display:flex;
  align-items: center;
  padding: 1.5em;
  padding-right: 1em;
  font-size: larger;
  font-weight: 700;
}
.logo img{
  width: 40px;
  height: auto;
  margin-right: 0.5em;
}
.links a{
  text-decoration: none;
  color: black;
  margin: 0 1em;
  font-weight: bold;
  background-color: pink;
  padding: 1rem;
}
.links a:hover{
  color: white;
  background-color: purple;
  padding: 1rem;
  border-radius: 5px;
}
.date button{
  font-size: 0.9em;
  font-weight: bold;
  background-color: lightblue;
  border: none;
  font-size: 1rem;
  border-radius: 15px;
  padding: 1rem 1.5rem;
}

/* Header styles */ 

.header{
  display: flex;
  align-items:flex-end ;
  flex-direction: row;
  justify-content: space-around;
 

 
}
.header-text{
  
  background-color: lightsalmon;
  padding: 2rem;
  
}
.header-text h1{
  font-size: 3rem;
  font-weight: normal;
 
}
.header-image{
  background-color: aquamarine;
}
.header-buttons{
  padding: 1rem;
  display: flex;
  gap: 1rem;
  border-radius: 50%;

}
.footer{
  background-color: #f2f2f2;
  padding: 2rem;
  text-align: center;
}
.footer-header{
  margin:0;
  padding: 2rem ;
}
.footer-team{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  margin:0;
}
.footer-team .team-member img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.team-member{
  
  padding:1.5em;
}
.footer-team .team-member h3{
  margin: 0.5rem 0 0.2rem 0;
}
.footer-team .team-member p{
  margin: 0;
  font-size: 0.9rem;
  color: gray;
}
/* list page style */

.table-container{
  background-color: aquamarine;
  padding: 2rem;

} 
.table{
  padding: 2rem;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2rem;
}   
table, th, td {
  border: 1px solid #ddd; /* Light gray border */
}

th, td {
  padding: 12px; /* Adds space inside the cells */
  text-align: left; /* Aligns text to the left */
}

thead th {
  background-color: rgb(46, 45, 45); 
  color: white; 
  font-weight: bold;
}
tbody tr:nth-child(even) {
  background-color: #f3f3f3; 
}   
tbody tr:hover {
  background-color: #e0e0e0; 
}
tfoot td {
  background-color: aquamarine; 
  font-weight: bold;
  width: 100% ;
} 


